RewriteEngine On
RewriteBase /

# Оставляем index.html на месте
RewriteRule ^index\.html$ - [L]

# Если файл или директория не существует, отдаём index.html
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.html [L]
